{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1 class="help-about-header"> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>合同会社addonem</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>木本　充則
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>〒581-0072<br>大阪府八尾市久宝寺1-2-58
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>072-943-1352</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@s-africa.wine">info@s-africa.wine </a></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">酒類販売管理者</label>
                        </dt>
                        <dd>木本　充則</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">酒類販売管理研修受講年月日</label>
                        </dt>
                        <dd>令和7年8月19日</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">次回研修の受講期限</label>
                        </dt>
                        <dd>令和11年2月19日</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">研修実施団体名</label>
                        </dt>
                        <dd>一般社団法人　酒類政策研究所</dd>
                    </dl>
                    <!--<dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://lpri.or.jp/">https://lpri.or.jp/</a></dd>
                    </dl>-->

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税(10%)、送料、チルドゆうパック料金、振込手数料(銀行振込の場合)</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご注文後、5日以内に発送いたします。また、当店スタッフより差し上げるお返事にて商品の発送日を明記させていただきます。お届け日は場所にも拠りますが、発送日より1～4日とお考えください。（※遠方・離島の場合は、それ以上かかる場合もございます。） <br>
                        ゴールデンウィーク、お盆、年末年始については上記通りお届け出来ない場合がございます。予めご了承ください。 </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>クレジットカード決済、銀行振込</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">支払期限</label>
                        </dt>
                        <dd>7日以内にお願いいたします。<br>7日間入金がない場合は、キャンセルとさせていただきます。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>お客様の都合による返品は受け付けておりませんが、不良品と見られる商品については、お届けから3日間以内に電話かメールにてご連絡ください。返送先などお伝えします。  </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}