<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_aristea1.png') }}" alt="アリステア" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=11" title="アリステア">Aristea</a></h3>
            <h3 class="ltx_15 tx_bld">MCCの申し子が手がけたワイン</h3>
            <p class="m_5">南アフリカのMCCの申し子でクローヌ家の息子、マシューにイギリス人の資本家、マーティンとフランス人ワインコンサルタントのフロランが協力して作ったワインブランド。<br>マシューは、各品種ごとに西ケープ州のベストな畑、ベストなブロック、ベストなウネのブドウをリサーチし、個別に契約してブドウを購入。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->