<div class="container padd_bt30">
    <div class="row">
        <img src="/html/user_data/upload/img/banner/member.png" alt="" class="col-12 col-md-6 m_15"/>
        <img src="/html/user_data/upload/img/banner/deliveryfee.png" alt="" class="col-12 col-md-6 m_15" />
    </div>
</div>