<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_brand36.gif') }}" alt="ヴィラフォンテ" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=26" title="ヴィラフォンテ">Kanonkop</a></h3>
            <h3 class="ltx_15 tx_bld">世界を代表するステレンボッシュ屈指の赤ワインメーカー</h3>
            <p class="m_5">世界最大級のワイン評価大会IWSCなど主に、1990年代から最優秀賞を受賞するなど南アフリカワインの品質の高さを世界に知らしめたパイオニア的な存在のワイナリー。。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->