<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_keermont1.gif') }}" alt="キアモント" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=15" title="キアモント">Keermont</a></h3>
            <h3 class="ltx_15 tx_bld">ストイックな自然派ブティック・ワイナリー。</h3>
            <p class="m_5">2007年が最初のヴィンテージのステレンボシュにある小さな新興ブティック・ワイナリー。（2016ティム・アトキン・南アフリカワイナリー格付け1級）<br>周りはステレンボシュ山脈とヘルダーバーグ山脈に囲まれている。ここは、南アフリカ・ケープ州土着の植物、フィンボスも沢山生息している地域で、キアモントもＢＷＩ（自然環境や動植物を保護しながらワイン生産を行うプログラム）のメンバーとして、環境に配慮したワイン生産を行っている。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->