<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_brand18.gif') }}" alt="ニュービギニングス" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=9" title="ニュービギニングス">New Beginnings</a></h3>
            <h3 class="ltx_15 tx_bld">南アフリカワイン業界のパイオニア</h3>
            <p class="m_5">1997年、労働者達は「クレイン・ビギン（小さな始まり）」という協同組合を設立し、自分達のオリジナルワイン「ニュービギニングス」を造り始めました。翌年1998年、遂に南アフリカ史上初の黒人生産ワインが誕生し海外にも輸出されるようになりました。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->