<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_brand10.gif') }}" alt="ステレンラスト" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=7" title="ステレンラスト">Stellenrust</a></h3>
            <h3 class="ltx_15 tx_bld">2012年ロンドン・オリンピックに採用されたワイナリー</h3>
            <p class="m_5">南アフリカ・ステレンボシュ地区の名門。<br>家族経営のワイナリーとしては、ブドウ畑だけで500haを所有し、ステレンボシュの中でも大きい方に入る。畑は2箇所あり、ヘルダーバーグとボタラリーの両地区にある。両方とも、ステレンボシュの中でも良質のブドウの取れる良い場所にある。<br>白は特にシュナンブラン、赤はピノタージュ、シラーズとボルドー系品種が得意。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->