<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_vilafonte1.jpg') }}" alt="ヴィラフォンテ" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=14" title="ヴィラフォンテ">vilafonte</a></h3>
            <h3 class="ltx_15 tx_bld">南ア＆米国のコラボ作品＝スーパー・プレミアムワイン。</h3>
            <p class="m_5">生産地区はパール。42ヘクタールのうち、ブドウ畑は16ヘクタール。<br>ヴィラフォンテは、所有する畑の土壌のタイプの名前から由来している。<br>同社は、南アフリカとアメリカのジョイントベンチャーで、赤のプレミアムワインを2種類醸造している。<br>醸造家には、かつてロバート・モンダヴィやシミ・ワイナリーでも醸造責任者を勤め、デカンター誌の「世界のトップ30醸造家」にも選ばれているアメリカ人女性醸造家ゼルマ・ロング氏を招聘。栽培コンサルタントにオーパスワンの元栽培責任者フィル・フリーズ加わり、南アフリカのワイナリーの中でも最も密集したブドウ栽培を行っている。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->