<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_brand35.gif') }}" alt="ウォーター・クルーフ" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=12" title="ウォーター・クルーフ">Waterkloof</a></h3>
            <h3 class="ltx_15 tx_bld">ビオディナミ、環境循環型農業 "Honest Wine"「誠実なワイン」</h3>
            <p class="m_5">自分達のワインを「Ｈｏｎｅｓｔ　Ｗｉｎｅ」（誠実なワイン）、つまり、テロワールを誠実（正直）に表現したワインと呼んでいる。ワイン醸造に関しては、不干渉主義のアプローチ。 今では、ステレンボシュを代表するビオディナミ ワイン生産者に成長した。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->