<section class="container cf m_20">
    <div class="row">
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_brand3.gif') }}" alt="ウォーターフォード" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld"><a href="{{ url('product_list') }}?category_id=13" title="ウォーターフォード">Waterford</a></h3>
            <h3 class="ltx_15 tx_bld">南アフリカを代表するスタイリッシュでエレガントなワイン生産者</h3>
            <p class="m_5">1998年、ステレンボシュに設立。新興ワイナリーながら、既に南アフリカを代表するトップ・ワイナリーのポジションを確立している。<br>彼らが目指すゴールは、「ワールドクラスのワイナリーになる」こと。その実現は決して遠くないと思えるほど、南アフリカの中でも代表的なスタイリッシュでエレガントなワインを生産している。</p>
        </div>
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->